.tickets {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-gap: 20px;
    padding: 8%;
    @media all and (max-width: 1100px) {
         grid-template-columns: none;
    }
    &__filters {
        padding: 4rem;
        background: #fff;
        max-height: 40rem;
        box-shadow: 0 1px 5px 0 rgba(0,0,0,.15);
    }

} 