.tickets {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-gap: 20px;
    border: 1px solid #000;
    background: #edf5f7;
    padding: 8%;
    &__filters {
        border: 1px solid #000;
        padding: 1rem;
        background: #fff;
    }
        &__options {
        border: 1px solid #000;
    }
}