.filter__container--currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.6rem;
}
.inner {
  max-width: 1200px;
  min-height: 600px;
  margin: 0 auto;
  padding: 2rem;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: 2 1C 2 1D 2 18 2 19;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ticket__container {
  display: grid;
  grid-template-columns: 200px 1fr;
  border: 1px solid #000;
  margin-bottom: 2rem;
  background: #fff;
}
.ticket__container--price {
  display: grid;
  grid-template-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-gap: 2rem;
  padding: 2rem;
}
.ticket__container--price .logo {
  border: 1px solid #000;
}
.ticket__container--price .price a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ff6d00;
  color: #fff;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 0 #d64d08, 0 2px 1px 0 rgba(0,0,0,0.1);
          box-shadow: 0 1px 0 0 #d64d08, 0 2px 1px 0 rgba(0,0,0,0.1);
}
.ticket__container--details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem;
}
.ticket__container--details .detail-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.ticket__container--details .details__depart {
  text-align: left;
}
.ticket__container--details .details__arrive {
  text-align: right;
}
.ticket__container--details .city {
  font-weight: bold;
  font-size: 1.4rem;
}
.ticket__container--details .time {
  font-size: 30px;
}
.ticket__container--details .date {
  font-size: 1.4rem;
  color: #888;
}
.ticket__container--details .stops {
  font-size: 1.4rem;
  color: #888;
  border-bottom: 1px solid #888;
  padding-bottom: 5px;
}
.tickets {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-gap: 20px;
  border: 1px solid #000;
  background: #edf5f7;
  padding: 8%;
}
.tickets__filters {
  border: 1px solid #000;
  padding: 1rem;
  background: #fff;
}
.tickets__options {
  border: 1px solid #000;
}
/* APP */
.App {
  text-align: center;
}
.main-header {
  background-color: #222;
  padding: 20px;
  color: #fff;
}
.main-header .header-wrap {
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* Header Title */
.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__title--logo {
  -webkit-animation: App-logo-spin infinite 20s linear;
          animation: App-logo-spin infinite 20s linear;
  height: 40px;
}
.header__title--name {
  font-size: 2rem;
  margin: 1rem 0;
}
/* HEader Menu */
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu a {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  margin-left: 2rem;
}
footer {
  background: #191324;
  padding: 2%;
  color: #fff;
}
@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
